
.group-main {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4347;
}
.group-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-container .main-feed {
    width: 100%;
}
.group__header {
    box-sizing: border-box;
    position: relative;
    width: 100%;;
    background-color: white;
}
.group__header-info {
    box-sizing: border-box;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.group__header-description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.group__header-invite {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
.group__header-invite-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.group__invite-username {
    cursor: pointer;
    margin: 5px;
}
.invite-user-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.group-header__title-invite {
    height: 30px;
    display: flex;
    align-content: center;
}
.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-header__invite {
    position: absolute;
    background-color: white;
    width: 500px;
    min-height: 250px;
    max-height: 500px;
    border-radius: 5px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group-header__invite-user {
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-header__invite-username {
    color: gray;
    margin-left: 15px;
}
.group-header__invite-status {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-header__invite-icon--invited {
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    color: lightgray;
}
.group-header__invite-icon--member {
    padding: 2px;
    background-color: #9EE486;
    border-radius: 50%;
    color: white;
}
.group__header-invite-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.group-header__invite-icon {
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    color: lightgray;
}
.group-header__invite-user:hover {
    background-color: rgba(12, 204, 209, .5);
}
.invite-user-input {
    text-align: center;
    justify-self: center;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;;
    padding: 3px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.group__header-member-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group__header-members-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.group__members-list {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 100px;
    margin-right: 60px;
    width: 300px;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 5;
    border-radius: 10px;
    justify-self: flex-start;
    align-self: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.group__members-list-item {
    color: #3E4347;
    margin: 10px 0px;
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid #DAE5EF;
}
.group-feed {
    box-sizing: border-box;
    position: relative;
    margin: 0 220px 0 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
