
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 255, 255);
    overflow: auto;
}
.login::After {
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* background-image: url('https://previews.123rf.com/images/pizzara91/pizzara911910/pizzara91191000013/132914475-water-wave-seamless-pattern-oriental-background-and-wallpaper-japanese-thai-chinese-style-illustrati.jpg'); */
    background-image: url('https://static8.depositphotos.com/1410993/1005/v/950/depositphotos_10055162-stock-illustration-seamless-pattern-water.jpg');
    /* background-image: url('https://as1.ftcdn.net/jpg/01/70/43/72/500_F_170437275_wQreAG8n0BLYvI3mFMKuKVtbJD9faDIN.jpg'); */
    opacity: 0.2;
}
.login__container {
    min-width: 400px;
    max-width: 60%;
    min-height: 600px;
    height: auto;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;
}
.login__header {
    max-height: 150px;
    width: 100%;
    min-width: 400px;
    margin-bottom: 10px;
}
.login__header-image {
    max-height: 150px;
    max-width: 80%;
    min-width: 400px;
}
.login-form,
.signup-form {
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0.8;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 40px;
    border: 3px solid black;
}
.signup-form {
    min-height: 400px;
}
.login-form::After,
.signup-form::After {
    content: '';
    background-color: white;
    opacity: 0.8;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 40px;
    z-index: -1;
}
.login__form-field {
    z-index: 2;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login label {
    font-size: 18px;
    margin-bottom: 8px;
}
.login input {
    z-index: 2;
    border-radius: 10px;
    outline: none;
    border: none;
    resize: none;
    border-radius: 50px;
    font-size: 14px;
    width: 60%;
    min-height: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.login__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.login__signup-button {
    cursor: pointer;
}
.login__signup-button:hover {
    color:rgb(0, 255, 255)
}
.login .button {
    z-index: 2;
    width: 100px;
    border-radius: 50px;
    font-size: 18px;
    padding: 8px;
    margin-top: 15px;
}