
.profile {
    margin-left: 200px;
}
.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;
}
.profile-icon .user-icon {

}
.profile__user-info {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.profile__feed .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.profile__feed .post {
    margin: 20px;
    box-sizing: border-box;
    min-width: 800px;
    width: 80%;
    min-height: 145px;
    background-color: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    position: relative;
}
.profile__user-info {
    display: flex;
}
.profile__username {
    display: flex;
    flex-direction: column;
}
.profile__user-desc {
    font-size: 14px;
}
.profile__friend-icon {
    color: rgb(80, 233, 80);
}
.profile__removeFriend-icon {
    color: red;
    cursor: pointer;
}
.profile__requestedFriend-icon {
    color: gray;
}
.profile__addFriend-icon {
    color: rgb(80, 80, 233);
    cursor: pointer;
}