
.right-sidebar {
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: small; */
    font-size: 15px;
    z-index: 5;
    /* background-color: #00E8FE; */
    /* background-color: #cdfbff; */
    /* background-color: white; */
    background-color: rgba(0, 238, 255, .4);
    /* background-color: rgb(243, 249, 249); */
    /* background-color: rgba(0, 232, 254, .2); */
    /* background-color: #3E4347; */
    position: fixed;
    right: 0;
    top: 60;
    overflow-y: scroll;
    height: 100%;
    width: 250px;
    /* color: #FAFAFA; */
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid rgba(0, 172, 187, .5);
    /* border-left: 1px solid black; */
    box-shadow: 0 0 6px rgba(0, 172, 187, .5);
}
.right-sidebar__title {
    box-sizing: border-box;
    width: 100%;
    margin: 15px 15px;
    padding: 0 0px 10px 10px;
    border-bottom: 1px solid rgba(0, 232, 254, .5);
}
.right-sidebar__user-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-username {
    margin-right: 10px;
    box-sizing: border-box;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.logout-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    background-color: #5C656C;
    border-radius: 28px;
    color: #FAFAFA;
    font-size: 18px;
    margin-bottom: 10px;
}
.right-sidebar > a {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebar-notifications {
    display: flex;
    /* font-size: 14px; */
    /* align-content: center; */
    align-items: center;
    width: 100%;
    justify-content: center;
    /* width: 250px; */
    /* height: 15px; */
    margin: 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar-notifications-num {
    border-radius: 50%;
    box-sizing: border-box;
    /* margin: 10px 10px 10px 0px; */
    width: 25px;
    height: 25px;
    padding: 2px;
    /* background-color: red; */
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    font-size: 15px;

}
.sidebar-notifications-num--active {
    background-color: rgb(243, 70, 70);
    color: white;
}
.sidebar-notifications-txt {
    font-size: 17px;
    margin-left: 3px;
}
.right-sidebar__friendslist {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar__friendsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    /* padding-left: 5px; */
}
.sidebar-title {
    box-sizing: border-box;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 232, 254, .5);
    /* margin-bottom: 10px; */
}
.right-sidebar__friendslist-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
    margin: 5px 0px;
}
.right-sidebar__friendslist-username {
    margin-left: 10px;
    /* font-size: 14px; */
}
