
.home-logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
    z-index: 4;
}

.sidebar {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* font-size: small; */
    font-size: 15px;
    z-index: 5;
    /* background-color: #00E8FE; */
    /* background-color: #cdfbff; */
    /* background-color: #3E4347; */
    background-color: rgba(0, 238, 255, .2);
    /* background-color: rgb(243, 249, 249); */
    /* background-color: white; */
    /* background-color: rgba(0, 232, 254, .2); */
    /* position: sticky;
    top: 0px; */
    /* left: 0;
    top: 75px; */
    /* height: 100%; */
    width: 250px;
    /* color: #FAFAFA; */
    color: black;
    /* border-right: 1px solid black; */
    border-right: 1px solid rgba(0, 172, 187, .5);
    box-shadow: 0 0 6px rgba(0, 172, 187, .5);
}
.sidebar__list {
    position: fixed;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    box-sizing: border-box;
    /* padding-left: 5px; */
    overflow-y: scroll;
}
.sidebar__list-item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin: 0px 20px; */
    padding: 8px;
    /* border-radius: 12px; */
    transition: .1s all;
}
.sidebar__list-item:hover {
    /* color: white; */
    background-color: rgba(0, 232, 254, 1);
}
.sidebar__list-name {
    margin-left: 10px;
}
.new-group-button {
    /* cursor: pointer; */
    /* padding: 20px 0px; */
    width: 100%;
    margin: 20px 0px;
    /* color: #A4E6E8;
    align-self: center;
    width: 100px; */
    /* padding: 10px; */
    /* border-radius: 20px; */
    /* background-color: black; */
    /* font-size: 15px; */
    /* font-weight: bold; */
    /* transition: .1s; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-button {
    cursor: pointer;
    background-color: rgba(0, 232, 254, 1);
    box-sizing: border-box;
    font-size: 17px;
    transition: .1s;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border-radius: 35px;
    border: 1px solid rgba(0, 167, 179, 0.4);

}
.sidebar-button:hover {
    background-color: black;
    color: white;
}
.sidebar-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
