/* TODO Add site wide styles 
*/
html, body {
    background-color: #D9F6F7;
    height: 100%;
    overflow: 
}

.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 10px; */
    height: 100%;
}
.sidebar {
    z-index: 5;
    background-origin: border-box;
    background-color: #3E4347;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    color: #FAFAFA;
    overflow: 
}
.sidebar__groupslist {
}
.sidebar__groupslist-item {
    cursor: pointer;
    margin: 10px 20px;
}

.sidebar-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-logo {
    /* background-image: url('./images/whaledude.jpg'); */
    height: 150px;
    width: 150px;
    /* border-radius: 50%; */
    cursor: pointer;
    z-index: 4;
}
.navbar {
    z-index: 3;
    box-sizing: border-box;
    position: relative;
    /* margin-left: 200px; */
    top: 0;
    width: 100%;
    /* height: 150px; */
    padding: 10px 20px 20px 20px;
    display: flex;
}
.search {
    position: relative;
    left: 200px;
    min-width: 300px;
    width: 60%;
}
.searchbar {
    min-width: 300px;
    width: 100%;
    height: 32px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #A4E6E8;
    padding-left: 15px;
}
.navbar__profilenav {
    /* justify-self: flex-end; */
    /* align-self: flex-start; */
    position: relative;
    left: 420px;
}
.navbar-usericon {
    /* position: absolute;
    left: 400px; */
    /* cursor: pointer; */
}
.bop {
    /* position: relative; */
    /* right: 400px; */
}
.navbar__profilenav-dropdown {
}
.profilenav__dropdown-option {
}
.footer {
}


.main-feed {
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
    padding: 0px 30px 0px 30px;
}
.feed__makepost {

}
.newpostform {

}

.posts {
    /* width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; */
}
.post {
    box-sizing: border-box;
    min-width: 800px;
    width: 80%;
    min-height: 145px;
    background-color: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
    margin: 35px 0px;
    padding: 20px;
    font-size: 14px;
}
.post-header {
    display: flex;
}
.post-content {
}
.post-footer {

}
.show-comments__button {
    cursor: pointer;
}
.comments {

}
.comment {
    
}
.comment-header {
    display: flex;
    /* justify-content: ; */
}
.comment-content {

}

.user-icon {
    /* border-radius: 50%;
    width: 50px;
    height: 50px; */
}
.icon-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar-usericon {
    /* z-index: 4; */
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
}


.activity-page {
}
.invites-list {
}
.invites-list__item {
}

.searchpage {
}
.searchpage__header {
    position: relative;
    box-sizing: border-box;
    left: 200px;
    width: 100%;
    height: 100px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3E4347;
    padding: 20px;
}
.searchpage__header-title {
    font-size: 50px;
}
.searchpage__header-res {
    align-self: flex-end;
    margin: 0px 10px;
}
.searchresults {
    position: relative;
    left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchresult {
    background-color: #FAFAFA;
    border-radius: 8px;
    min-width: 500px;
    width: 60%;
    overflow: hidden;
    margin: 10px 0px;
    padding: 20px;
    display: flex;
}
.searchresult-group {

}
.searchresult-user {

}


.profile {

}
.profile__header {

}
.profile__feed {
    display: flex;
    justify-content: center;
}
.profile__user-info {

}

.small-logo {
    width: 80px;
    height: 80px;
}
.big-logo {
    width: 150px;
    height: 150px;
}


.group-main {
    
}
.group-header {
    position: relative;
    margin-left: 200px;
}
.group-header__innrer {

}
.group-header__desc {

}
.group-header__desc-name {

}
.group-header__desc-description {

}
.group-header__desc-members-button {
    cursor: pointer;
}
.group__members-list {

}
.group__members-list-item {

}
.group-feed {
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
    padding: 0px 30px 0px 30px;
}


.navbar__profilenav-dropdown {
    /* z-index: 3; */
    box-sizing: border-box;
    padding: 0px 5px;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    /* height: 200px; */
    background-color: #FAFAFA;
    border-radius: 6px;
}
.profilenav__dropdown-option {
    /* z-index: 2; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #3E4347;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid #DAE5EF;
    cursor: pointer;
}
.profilenav__dropdown-option:hover {
    background-color: #A4E6E8;
}


a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }