/* TODO Add site wide styles 
*/
html, body {
    background-color: #D9F6F7;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow:  */
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 10px; */
    height: 100%;
}
.sidebar {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    z-index: 5;
    background-color: #3E4347;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    color: #FAFAFA;
}
.sidebar__groupslist {
    /* margin: 40px 20px; */
    display: flex;
    flex-direction: column;
}
.sidebar__groupslist-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 30px;
}
.sidebar__groupslist-item:hover {
    color: white;
    /* background-color: black; */
}
.sidebar__grouplist-name {
    margin-left: 5px;
}
.new-group-button {
    color: #A4E6E8;
    align-self: center;
    width: 100px;
    text-align: center;
    margin: 20px 0px;
    background-color: #38A7AA;
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    transition: .2s background-color;
}
.new-group-button:hover {
    background-color: #289396;
    cursor: pointer;
}
.sidebar-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-sidebar {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    z-index: 5;
    background-color: #3E4347;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar-user {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    align-items: center;
    align-content: center;
    margin: 15px 15px;
    padding: 0 0px 10px 10px;
    border-bottom: 1px solid #707070;
}
.sidebar-username {
    box-sizing: border-box;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.logout-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    background-color: #5C656C;
    border-radius: 28px;
    color: #FAFAFA;
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar-notifications {
    display: flex;
    font-size: 14px;
    align-content: center;
    align-items: center;
    width: 150px;
}
.sidebar-notifications-num {
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px 10px 10px 0px;
    padding: 2px;
    background-color: #383e42;
}
.right-sidebar__friendslist {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 10px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}
.sidebar-friendslist-title {
    font-size: 18px;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 1px solid #707070;
    margin-bottom: 10px;
}
.right-sidebar__friendslist-item {
    display: flex;
    margin-bottom: 8px;
}
.right-sidebar__friendslist-username {
    margin-left: 10px;
    font-size: 14px;
}

.home-logo {
    /* background-image: url('./images/whaledude.jpg'); */
    height: 100px;
    width: 100px;
    /* border-radius: 50%; */
    cursor: pointer;
    z-index: 4;
}
.navbar {
    z-index: 3;
    box-sizing: border-box;
    position: relative;
    /* margin-left: 200px; */
    top: 0;
    width: 100%;
    /* height: 150px; */
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    background-color: #4fc7c9;
    height: 80px;
    box-shadow: 0 0 6px rgba(62, 68, 71, .8);
}
.search {
    position: relative;
    left: 200px;
    min-width: 300px;
    width: 60%;
}
.searchbar {
    min-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #A4E6E8;
    padding-left: 15px;
}
.navbar__profilenav {
    /* justify-self: flex-end; */
    /* align-self: flex-start; */
    position: relative;
    left: 420px;
}
.navbar-usericon {
    /* position: absolute;
    left: 400px; */
    /* cursor: pointer; */
}
.bop {
    /* position: relative; */
    /* right: 400px; */
}
.navbar__profilenav-dropdown {
}
.profilenav__dropdown-option {
}
.footer {
}


.main-feed {
    box-sizing: border-box;
    position: relative;
    margin: 0 220px 0 220px;
    /* padding: 0px 30px 0px 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.makepost--inactive {
    margin: 25px 0;
    box-sizing: border-box;
    min-width: 400px;
    width: 70%;
    min-height: 100px;
    background-color: #FAFAFA;
    border-radius: 8px;
    border: .5px solid rgba(12, 204, 209, .5);
    box-shadow: 0 0 3px rgba(14, 133, 136, .5);
    /* padding: 20px; */
    color: #3E4347;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    display: flex;

}
.feed__makepost {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    /* cursor: pointer; */
    margin-left: 20px;
    cursor: text;
    width: 200px;
}
.makepost__icon {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 50px !important;
    width: 30px;
    height: 30px;
    color: #0CCCD1;
}
.makepost__des {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.newpostform {
    box-sizing: border-box;
    min-width: 400px;
    width: 100%;
    min-height: 145px;
    background-color: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
    /* margin: 35px 0px; */
    padding: 20px;
    color: #3E4347;
    margin-bottom: 25px;
}
.makepost-form {
    width: 100%;
    height: 100%;
    position: relative;
}
.makepost-title {
    width: 300px;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
}
.makepost-textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.makepost-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}
.button {
    background-color: #A4E6E8;
    padding: 5px;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid #A4E6E8;
    border-radius: 8px;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    margin: 5px;
}
.makepost-button:hover {

}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.post {
    box-sizing: border-box;
    min-width: 400px;
    width: 70%;
    min-height: 145px;
    background-color: #FAFAFA;
    overflow: hidden;
    margin-bottom: 25px;
    /* margin: 35px 0px; */
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    position: relative;
    border-radius: 8px;
    border: .5px solid rgba(12, 204, 209, .5);
    box-shadow: 0 0 3px rgba(14, 133, 136, .5);
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #DAE5EF;
    width: 100%;
}
.post-header__info {
    display: flex;
    align-items: center;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid #DAE5EF; */
    /* width: 100%; */
}
.post-header__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-header__txt {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.post-header__username {
    cursor: pointer;
    font-size: 20px;
    color: #3E4347;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}
.post-header__date {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: #5C656C;
    font-size: 12px;
}
.post-body {
    margin: 15px 0px 8px 0px;
    padding: 0px 15px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #DAE5EF;
}
.post-content {
    margin: 15px 0px 20px 0px;
    font-size: 15px;
    /* padding: 0px 15px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 15px; */
}
.post-body__title {
    font-size: 20px;
    font-weight: 400;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}
.post-footer {
    display: flex;
    /* align-items: center;
    align-content: center; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    min-height: 35px;
    padding: 0px 10px;
    color: #5C656C;
}
.post-footer__buttons {
    justify-self: flex-end;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.post-footer__button {
    color: #ACBFD1;
    font-size: 8px;
    cursor: pointer;
    margin-left: 8px;
}
.post__edit-button {
    color: #ACBFD1;
    font-size: 8px;
    cursor: pointer;
    margin: 0px 10px;
    /* align-self: flex-start;
    justify-self: flex-end; */
    position: relative;
    right: 0px;
}
.show-comments__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    /* color: #5C656C; */
}
.comments-icon {
    color: #ACBFD1;
    width: 20px;
    height: 19px;
    margin-right: 10px;
}
.newpostform.editpost {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.comments {

}
.comment {
    
}
.comment-header {
    display: flex;
    /* justify-content: ; */
}
.comment-content {

}

.user-icon {
    /* border-radius: 50%;
    width: 50px;
    height: 50px; */
}
.icon-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar-usericon {
    /* z-index: 4; */
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
}


.activity-page {
}
.invites-list {
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
    padding: 30px 30px 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0E8588;
    /* padding: 40px; */
    font-size: 14px;
    background-color: #FAFAFA;
    border: 1px solid #A4E6E8;
    margin: 20px 220px 20px 220px;
    border-radius: 10px;
}
.invites-list__item {
    margin: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}
.add-friend {
    margin-left: 10px;
    cursor: pointer;
}
.invites-list__header {
    color: #3E4347;
    font-size: 18px;
    border-bottom: 1px solid #DAE5EF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.invites-list__body {

}

.searchpage {
}
.searchpage__header {
    position: relative;
    box-sizing: border-box;
    left: 200px;
    width: 100%;
    height: 100px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4347;
    padding: 20px;
}
.searchpage__header-title {
    font-size: 45px;
}
.searchpage__header-res {
    align-self: flex-end;
    margin: 0px 10px;
}
.searchresults {
    position: relative;
    left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchresult {
    background-color: #FAFAFA;
    border-radius: 8px;
    min-width: 500px;
    width: 60%;
    overflow: hidden;
    margin: 10px 0px;
    /* padding: 20px; */
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.searchgroup-td {
    display: flex;
}
.searchresult-group {
    justify-content: space-between;
    padding: 20px;
}
.searchresult-user {
    align-items: center;
    padding: 5px 20px;
}
.searchuser-username {
    margin-left: 15px;
    font-weight: bold;

}
.search-group-name {
    margin-right: 15px;
    font-weight: bold;
}
.seach-group-members {
    justify-self: flex-end;
}


.profile {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    margin-left: 200px;
}
.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    width: 100%;
}
.profile-icon .user-icon {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.profile__user-info {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.profile__feed .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* justify-content: center; */
}
.profile__feed .post {
    margin: 20px;
    box-sizing: border-box;
    min-width: 800px;
    width: 80%;
    min-height: 145px;
    background-color: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
    /* margin: 35px 0px; */
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    position: relative;
}
.profile__user-info {

}

.small-logo {
    width: 80px;
    height: 80px;
}
.big-logo {
    width: 150px;
    height: 150px;
}

.icon {
    display: flex;
    align-content: center;
    justify-content: center;
}
/* .profile-icon__img {

} */

.small-icon {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.med-icon {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.large-icon {
    border-radius: 50%;
    cursor: pointer;
    width: 75px;
    height: 75px;
}
.border-icon-small {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #00E8FE;
}
.border-icon-med {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #00E8FE;
}
.border-icon-large {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #00E8FE;
}
/* .icon-img {
    
} */

.group-main {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4347;
}
.group-header {
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
    padding: 30px;
}
.group-header__inner {

}
.group-header__desc {
    box-sizing: border-box;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 10px;
    position: relative;
    display:flex;
    flex-direction: column;
}
.group-header__desc-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.group-header__desc-description {

}
/* .group-header__buttons {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
} */
.group-header__invite-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.invite-user-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.group-header__title-invite {
    height: 30px;
    display: flex;
    align-content: center;
}
.group-header__invite {
    z-index: 6;
    border-radius: 5px;;
    padding: 20px;
    background-color: #A4E6E8;
    position: fixed;
    top: 30%;
    left: 45%;
}
.invite-user-input {
    text-align: center;
    justify-self: center;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;;
    padding: 3px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.group-header__desc-members-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 80px;
}
.group__members-list {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 100px;
    margin-right: 60px;
    width: 300px;
    /* min-height: 300px; */
    background-color: #FAFAFA;
    position: absolute;
    z-index: 5;
    border-radius: 10px;
    /* margin: 0 auto; */
    justify-self: flex-start;
    align-self: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.group__members-list-item {
    color: #3E4347;
    margin: 10px 0px;
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid #DAE5EF;
}
.group-feed {
    box-sizing: border-box;
    position: relative;
    margin: 0 220px 0 220px;
    /* padding: 0px 30px 0px 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar__profilenav-dropdown {
    /* z-index: 3; */
    box-sizing: border-box;
    padding: 0px 5px;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    /* height: 200px; */
    background-color: #FAFAFA;
    border-radius: 6px;
}
.profilenav__dropdown-option {
    /* z-index: 2; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #3E4347;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid #DAE5EF;
    cursor: pointer;
    transition: background-color .2s;
}
.profilenav__dropdown-option:hover {
    background-color: #DAE5EF;
}

.new-group__main {

}
.newgroup-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #FAFAFA;
    border-radius: 15px;
    min-width: 600px;
    min-height: 300px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    /* justify-content: center; */
}
.newgroup-formcontainer {
    margin-left: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.newgroup-name {
    text-align: center;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 40px;
    margin-bottom: 0px;
}
.newgroup-desc {
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.newgroup-private {
    margin-bottom: 10px;
}
.newgroup-private label {
    margin-left: 4px;
}
.newgroup-buttons {
    position: absolute;
    bottom: 10px;
}
/* .newgroup-name-private {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */




a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

.login-main {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding: 100px;
}
.signin-form {
    padding: 40px;
    background-color: #FAFAFA;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.login-main input {
    margin: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.friendslist-main {
    box-sizing: border-box;
    position: relative;
    margin-left: 200px;
    padding: 0px 30px 0px 30px;
}


 /* width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    background-color: #FAFAFA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px; */